### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [522]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [523]:
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [524]:
#total number of schools
school_number = len(complete_df["school_name"].unique())
#total number of students
total_students = sum(complete_df["size"])
#total budget
total_budget = sum(complete_df["budget"])

In [525]:
#average math score
average_math=complete_df["math_score"].mean()
#average reading score
average_reading= complete_df['reading_score'].mean()

In [526]:
#Calculate the percentage of students with a passing math score (70 or greater)

percent_math= (complete_df[complete_df['math_score'] >= 70].math_score.count()) / total_students

#Calculate the percentage of students with a passing reading score (70 or greater)

percent_read= (complete_df[complete_df['reading_score'] >= 70].reading_score.count()) / total_students

#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_overal= complete_df[(complete_df["reading_score"]>=70) & (complete_df["math_score"]>=70)].math_score.count()
percent_pass= (pass_overal)/total_students * 100

district_summary = pd.DataFrame ({"Total Schools": [school_number],
                                "Total Number of Students": [total_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math], 
                                "Average Reading Score": [average_reading], 
                                "Percentage of Passing Math": [percent_math],
                                "Percentage of Passing Reading": [percent_read], 
                                "Percentage of Passing": [percent_pass] })

#cleaning up total budget
district_summary['Total Budget'] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)
#clean up 


district_summary.head()

,Total Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Passing Math,Percentage of Passing Reading,Percentage of Passing
0,15,130551930,"$82,932,329,558.00",78.985371,81.87784,0.000225,0.000257,0.019554

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [527]:
school_name = complete_df.set_index('school_name').groupby(['school_name'])
#
school_type = complete_df.set_index('school_name')

students_per_school= complete_df['Student ID'].count()

school_budget = complete_df['budget'].mean() 

student_budget = school_budget/students_per_school 

avg_math = school_name["math_score"].mean()

avg_read = school_name["reading_score"].mean()

pass_math = complete_df[complete_df["math_score"] >=70].groupby('school_name')['Student ID'].count()
school_percent_math = pass_math/ students_per_school *100

pass_read = complete_df[complete_df["reading_score"] >=70].groupby('school_name')['Student ID'].count()
school_percent_read = pass_read/ students_per_school *100

pass_overal= complete_df[(complete_df["reading_score"]>=70) & (complete_df["math_score"]>=70)].groupby('school_name')['Student ID'].count()
school_percent_pass= pass_overal/students_per_school * 100

In [528]:
#dataframe for school summary
school_summary = pd.DataFrame ({"School": [school_name],
                                "School Type": [school_type],
                                "Number of Students": [students_per_school], 
                                "School Budget": [school_budget], 
                                "Budget Per Student": [student_budget],
                                "Average Math Score": [avg_math], 
                                "Average Reading Score": [avg_read], 
                                "Percentage of Passing Math": [school_percent_math],
                                "Percentage of Passing Reading": [school_percent_read], 
                                "Percentage of Passing": [school_percent_pass] }) 

school_summary.head()

,School,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage of Passing Math,Percentage of Passing Reading,Percentage of Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,Student ID student_n...,39170,2.117241e+06,54.052617,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [529]:
top_schools = school_summary.sort_values("Percentage of Passing", ascending = False)

top_schools.head(5)

,School,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage of Passing Math,Percentage of Passing Reading,Percentage of Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,Student ID student_n...,39170,2.117241e+06,54.052617,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [530]:
top_schools = school_summary.sort_values("Percentage of Passing", ascending = True)

top_schools.head(5)

,School,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage of Passing Math,Percentage of Passing Reading,Percentage of Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,Student ID student_n...,39170,2.117241e+06,54.052617,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [531]:
math_nine = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
math_ten = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
math_eleven = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
math_twelve = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [532]:
read_nine = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
read_ten = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
read_eleven = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
read_twelve = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [533]:
#bins
bins = [0, 584.999, 614.999, 644.999, 999999]

group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]

complete_df['spending_bin'] = pd.cut(complete_df['budget']/complete_df['size'], bins, labels = group_name)

spending= complete_df.groupby('spending_bin')

#values
avg_math_score = spending['math_score'].mean()

avg_read_score = spending['reading_score'].mean()

pass_math_score = spending[complete_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()

pass_read_score = complete_df[complete_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()

overall = complete_df[(complete_df['reading_score'] >= 70) & (complete_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()

KeyError: 'Columns not found: False, True'

In [ ]:
#dataframe

score_by_school= pd.DataFrame ({
        "Average Math Score": avg_math_score,
        "Average Reading Score": avg_read_score,
        '% Passing Math': pass_math_score,
        '% Passing Reading': pass_read_score,
        "Overall Passing Rate": overall
})

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type